<div class="span14">    
    {% set list_items = list_obj.list_items %}
    <h2>{{ list_obj.get_title() }}</h2>
    
    {% if len(list_items) == 0 %}
        <p>This list is empty! Use the button below add an item.</p>
    {% else %}
        <table class="list_items">            
            <thead>
                <tr>
                    <th>Item</th>                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for list_item in list_items %}
                    {% include fragment_list_item.html %}
                {% end %}
            </tbody>
        </table>    
    {% end %}    
    <p>
        <form method="post" action="{{ reverse_url("ListCreateItemHandler", list_obj.url_safe_list_id) }}">                       
            {% raw xsrf_form_html() %}                    
            <fieldset>
                <div>
                    <input class="btn large primary" type="submit" value="Add an item">
                </div>
            </fieldset>
        </form>    
        
        <form method="post" action="{{ reverse_url("ListDeleteHandler", list_obj.url_safe_list_id) }}">                       
            {% raw xsrf_form_html() %}                    
            <fieldset>
                <div>
                    <input class="btn large danger" type="submit" value="Delete this list">
                </div>
            </fieldset>
        </form>    
    </p>
</div>
