{% autoescape xhtml_escape %}

<div class="span14">
    {% if len(lists) == 0 %}
        <p>You haven't made any lists yet! How about creating one? Use the buttons below.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>List name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for list_obj in lists %}
                <tr>
                    <td><a href="{{ reverse_url("ListReadHandler", list_obj.url_safe_list_id) }}">{{ list_obj.title }}</a></td>
                    <td>
                        <form method="post" action="{{ reverse_url("ListDeleteHandler", list_obj.url_safe_list_id) }}">                       
                            {% raw xsrf_form_html() %}                                                
                            <div>
                                <input class="btn danger" type="submit" value="Delete this list">
                            </div>                            
                        </form>     
                    </td>
                </tr>
                {% end %}

            </tbody>
        </table>    
    {% end %}
    
    
    <p>
        <form method="post" action="{{ reverse_url("ListCreateHandler") }}">                       
            {% raw xsrf_form_html() %}                    
            <fieldset>
                <div class="clearfix">
                    <input class="btn large primary" type="submit" value="Create a list">
                </div>
            </fieldset>
        </form>
    </p>
</div>
