<div class="span14">
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
            <span class="divider">/</span>
        </li>
        {% if globals().get('list_obj', None) %}        
            <li>
                <a href="{{ reverse_url("ListsHandler") }}">List of lists</a>
                <span class="divider">/</span>
            </li>
            <li class="active">{{ list_obj.get_title() }}</li>
        {% else %}
            <li class="active">List of lists</li>    
        {% end %}        
    </ul>
</div>
   