{% set title = "%s (Help Me Shop)" % (list_obj.get_value_from_contents('title'), ) %}
{% include fragment_generic_header.html %}

    <div class="container">
        <div class="content">
            {% if not user %}
            <div class="page-header">                                
                <h1>Help Me Shop<br />
                <small>Share your shopping lists, help friends buy stuff off them!</small>                
                </h1>
            </div>
            {% end %}
        <div class="row">
            <div class="span14">
                {% if user %}
                    {% include fragment_breadcrumbs.html %}
                    <p>I think you are: {{ user }}</p>
                {% end %}
                {% include fragment_list_contents.html %}

            </div>
        </div>
    </div>    

{% include fragment_generic_footer.html %}
