#
# exampleserver.cnf
#

[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name

[ server_distinguished_name ]
commonName              = li305-49.members.linode.com
stateOrProvinceName     = N/A
countryName             = UK
emailAddress            = admin@helpmeshop.co.uk
organizationName        = helpmeshop.co.uk
organizationalUnitName  = N/A
